<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devxperiments.flaglivewallpaper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="8" />

    <application  android:hardwareAccelerated="false"
        android:icon="@drawable/sys_ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name=".FlagWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/myglwallpaper" />
        </service>

        <activity
            android:name="com.devxperiments.flaglivewallpaper.settings.Settings"
            android:exported="true"
            android:label="Setting" >
        </activity>
        <activity
            android:name="com.devxperiments.flaglivewallpaper.settings.WallpaperChooser"
            android:label="@string/prefSelectFlagSng"
            android:configChanges="orientation|keyboardHidden"
          >
        </activity>
        <activity
            android:name="com.devxperiments.flaglivewallpaper.settings.MultipleWallpaperChooser"
            android:label="@string/prefSelectFlagPlr"
            >
        </activity>
        <activity android:hardwareAccelerated="false"
            android:name="com.droid4you.util.cropimage.CropImage"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/crop_label"
            android:theme="@android:style/Theme.Light" >
        </activity>

        <receiver android:name="com.devxperiments.flaglivewallpaper.DayTimeAlarmManager" >
        </receiver>
    </application>

</manifest>